<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="caCertLocation" value="cacert.pem"/>
    <add key="eventHubsNamespaceURL" value="test-car-info.servicebus.windows.net:9093"/>
    <add key="eventHubName" value="carinfo"/>
    <add key="consumerGroup" value="$Default"/>
    <add key="eventHubsConnStr" value="Endpoint=sb://test-car-info.servicebus.windows.net/;SharedAccessKeyName=Root;SharedAccessKey=eI91w0fLnLcoEorwigw3419nrNxnMWdT3h0JJBp3uCU=;EntityPath=carinfo"/>
  </appSettings>
</configuration>