<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="eventHubsNamespaceURL" value="[NameSpaceUrl]:9093"/>
        <add key="eventHubName" value="[HubName]"/>
        <add key="consumerGroup" value="$Default"/>
        <add key="eventHubsConnStr" value="[ConnectionString]"/>
    </appSettings>
</configuration>